@model List<ProductColor>


@if (Model.Count != 0)
{
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Name</td>
            <td>@item.HexCode</td>

            <td class="operation">
                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">
                    <i class="fas fa-pencil nm"></i>
                </a>
                <a asp-action="details" asp-route-id="@item.Id" class="btn btn-secondary">
                    <i class="fas fa-eye nm"></i>
                </a>
                <a asp-action="delete" onclick="removeEntity(event,@item.Id,'@item.Name')" class="btn btn-danger">
                    <i class="fas fa-trash nm"></i>
                </a>
            </td>
        </tr>
    }
}
else
{
    <tr>
    </tr>
}
